/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dex-container {
  color: #333;
  margin: 45px auto;
  max-width: 500px;
  min-width: 320px;
  text-align: center;
}

.dex-btn {
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.dex-btn:focus {
  outline: none;
}

.dex-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: none;
}

.dex-btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px 0 0 4px;
  float: left;
  height: 36px;
  margin-right: 5px;
  width: 36px;
}

.dex-btn-icon--google {
  background-color: #FFFFFF;
  background-image: url(../static/img/google-icon.svg);;
}

.dex-btn-icon--local {
  background-color: #84B6EF;
  background-image: url(../static/img/email-icon.svg);
}

.dex-btn-icon--gitea {
  background-color: #F5F5F5;
  background-image: url(../static/img/gitea-icon.svg);
}

.dex-btn-icon--github {
  background-color: #F5F5F5;
  background-image: url(../static/img/github-icon.svg);
}

.dex-btn-icon--gitlab {
  background-color: #F5F5F5;
  background-image: url(../static/img/gitlab-icon.svg);
  background-size: contain;
}

.dex-btn-icon--keystone {
  background-color: #F5F5F5;
  background-image: url(../static/img/keystone-icon.svg);
  background-size: contain;
}

.dex-btn-icon--oidc {
  background-color: #EBEBEE;
  background-image: url(../static/img/oidc-icon.svg);
  background-size: contain;
}

.dex-btn-icon--bitbucket-cloud {
  background-color: #205081;
  background-image: url(../static/img/bitbucket-icon.svg);
}

.dex-btn-icon--atlassian-crowd {
  background-color: #CFDCEA;
  background-image: url(../static/img/atlassian-crowd-icon.svg);
}

.dex-btn-icon--ldap {
  background-color: #84B6EF;
  background-image: url(../static/img/ldap-icon.svg);
}

.dex-btn-icon--saml {
  background-color: #84B6EF;
  background-image: url(../static/img/saml-icon.svg);
}

.dex-btn-icon--linkedin {
  background-image: url(../static/img/linkedin-icon.svg);
  background-size: contain;
}

.dex-btn-icon--microsoft {
  background-image: url(../static/img/microsoft-icon.svg);
}

.dex-btn-text {
  font-weight: 600;
  line-height: 36px;
  padding: 6px 12px;
  text-align: center;
}

.dex-subtle-text {
  color: #999;
  font-size: 12px;
}

.dex-separator {
  color: #999;
}

.dex-list {
  color: #999;
  display: inline-block;
  font-size: 12px;
  list-style: circle;
  text-align: left;
}

.dex-error-box {
  background-color: #DD1327;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  max-width: 320px;
  padding: 4px 0;
}

.dex-error-box {
  margin: 20px auto;
} */

/* regular */
@font-face {
    font-family: "BRI Digital";
    font-weight: 400;
    font-style: normal;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-Regular.ttf) format("truetype");
}

/* regular italic */
@font-face {
    font-family: "BRI Digital";
    font-weight: 400;
    font-style: italic;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-Italic.ttf) format("truetype");
}

/* light */
@font-face {
    font-family: "BRI Digital";
    font-weight: 300;
    font-style: normal;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-Light.ttf) format("truetype");
}

/* light italic */
@font-face {
    font-family: "BRI Digital";
    font-weight: 300;
    font-style: italic;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-LightItalic.ttf) format("truetype");
}

/* medium */
@font-face {
    font-family: "BRI Digital";
    font-weight: 500;
    font-style: normal;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-Medium.ttf) format("truetype");
}

/* medium italic */
@font-face {
    font-family: "BRI Digital";
    font-weight: 500;
    font-style: italic;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-MediumItalic.ttf) format("truetype");
}

/* semibold */
@font-face {
    font-family: "BRI Digital";
    font-weight: 600;
    font-style: normal;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-SemiBold.ttf) format("truetype");
}

/* semibold italic */
@font-face {
    font-family: "BRI Digital";
    font-weight: 600;
    font-style: italic;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-SemiBoldItalic.ttf) format("truetype");
}

/* bold */
@font-face {
    font-family: "BRI Digital";
    font-weight: 700;
    font-style: normal;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-Bold.ttf) format("truetype");
}

/* bold */
@font-face {
    font-family: "BRI Digital";
    font-weight: 700;
    font-style: italic;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-BoldItalic.ttf) format("truetype");
}

/* heavy */
@font-face {
    font-family: "BRI Digital";
    font-weight: 900;
    font-style: normal;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-Heavy.ttf) format("truetype");
}

/* heavy italic */
@font-face {
    font-family: "BRI Digital";
    font-weight: 900;
    font-style: italic;
    src: local("BRI Digital"),
        url(./fonts/BRIDigitalText-HeavyItalic.ttf) format("truetype");
}
body {
    font-family: "BRI Digital", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dex-container {
    height: 100vh;
}

.theme-navbar {
    display: none;
}

.theme-body {
    background-color: #fff !important;
    height: 100vh;
}

.login-form-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 40px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullscreen {
    height: 100vh;
    width: 100%;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 100vh;
    width: 100%;
}

.container-1 > .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.theme-form-label {
    text-align: left;
    margin: 5px 0px 0px 0px !important;
}

.container-1 {
    display: flex;
    padding: 64px 108px 50px 108px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

@media (max-width: 1024px) {
    /* Styles for screens less than 1024px wide */
    @media (max-height: 768px) {
        /* This nested query applies when both width and height conditions are met */
        .container-1 {
            padding: 64px 0px;
        }
    }
}

.container-1 > .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.title > .text-title {
    width: 412px;
    color: var(--grey-base, var(--grey-base, #171717));
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.5px;
}

.title > .text-description {
    align-self: stretch;
    color: var(--light-neutral-80, #777);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    width: 100%;
}
.form > a {
    color: var(--primary-blue-80, #1078ca);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
.form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.form-item > label {
    color: var(--dark-neutral-40, #292929);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}
.form-item > input {
    display: flex;
    /* padding: 10px 12px; */
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--light-neutral-20, #eaebeb);
    background: var(--other-white, #fff);
}
.form-item > input:focus {
    border-radius: 8px;
    border: 1px solid var(--light-neutral-20, #1078ca);
    background: var(--other-white, #fff);
}

.dex-btn-icon--local {
    cursor: pointer;
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--primary-blue-80, #1078ca);
    border: none;
    color: var(--base-white, var(--other-white, #fff));
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
    text-align: center;
}
.dex-btn-icon--google {
    cursor: pointer;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 2px solid var(--primary-blue-80, #1078ca);
    background: var(--base-white, #fff);
    color: var(--primary-blue-80, #1078ca);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
}

.strip-or {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin: 12px 0px;
}
.strip-or > span {
    color: var(--light-neutral-60, #929393);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.strip-or > .strip {
    width: 100%;
    height: 0.063rem;
    --tw-bg-opacity: 1;
    background-color: rgb(234 235 235 / var(--tw-bg-opacity));
}

input:focus {
    outline: none;
    border: 2px solid var(--primary-blue-80, #1078ca);
}

.login-image {
    width: 504px;
    height: 394px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(16 120 202 / var(--tw-bg-opacity));
    border-radius: 40px;
    padding: 60px 56px;
    width: 100%;
    height: 100%;
}
.container-2 > .text-title {
    font-size: 1.875rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 600;
    padding-bottom: 0.75rem;
}
.container-2 > .text-description {
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    width: 66.666667%;
    text-align: center;
}
.google-icon {
    height: 100%;
    width: 1.5rem;
    background-image: url(../static/img/google-icon.svg);
    background-repeat: no-repeat;
}
.theme-form-input {
    width: 100%;
    padding: 10px 12px;
}

.dex-error-box {
    color: #e84040;
    font-size: 14px;
    margin-top: 5px;
}

.theme-link-back {
    width: 100%;
    text-align: center;
    padding: 6px 0px;
}

.dex-subtle-text {
    font-size: 14px;
    font-weight: 700px;
    width: 100%;
    text-align: right;
    color: #1078ca;
    cursor: pointer;
    padding: 16px 0px;
}

.svg-logo {
    margin-bottom: 2rem;
}

mask {
    mask-type: alpha;
}

.approval-container {
    display: flex;
    height: 100vh;
}

.approval-inner-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
}

.approval-container-1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.approval-content-1 {
    width: 100%;
}

.apporval-content-2 {
    text-align: center;
}

.theme-heading {
    text-align: center;
    margin-top: 24px;
}

.approval-content-2 {
    text-align: center;
}

#mode-log {
    width: 412px;
}

.dex-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: center;
    align-items: center;
    color: #747474;
}

.approval-content-3 {
    display: flex;
    gap: 2rem;
}

.theme-form-row {
    width: 100%;
}

.login-header {
    margin: 30px 0px;
    font-weight: 600;
    font-size: 28px;
}

#public {
    display: none;
}

@media (min-width: 1024px) {
    .content {
        flex-direction: row;
    }

    .container-1 {
        padding: 64px 40px 40px 40px;
    }
}

@media (min-width: 1440px) {
    .container-1 {
        width: 40%;
        padding: 64px 108px 50px 108px;
    }

    .container-1 > .section {
        width: 100%;
    }

    .container-2 {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    /* Styles for screens less than 1024px wide */
    .login-image {
        width: 404px;
        height: 294px;
    }
    .container-1 {
        padding: 64px 20px 40px 20px;
    }
    @media (max-height: 768px) {
        /* This nested query applies when both width and height conditions are met */
        .container-1 {
            padding: 64px 0px;
        }
    }
}
