* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 45px auto;
  max-width: 100%;
  min-width: 33%;
  max-height: 100%;
  min-height: 50%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.dex-btn {
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.dex-btn:focus {
  outline: none;
}

.dex-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: none;
}

.dex-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dex-btn-icon {
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px 0 0 4px;
  float: left;
  height: 36px;
  margin-right: 5px;
  width: 36px;
}

.dex-org-logo {
  height: 175px;
  margin: 20px;
  width: 175px;
}

.dex-asama-logo {
  background-color: #FFFFFF;
  background-size: contain;
  background-image: url(../static/img/asama-logo.png);
}

.dex-password-toggle-icon {
  background-image: url(../static/img/password-toggle.png);
  background-size: contain;
}

input[type="checkbox"]:checked + .dex-password-toggle-icon {
    background-image: url('img/show.png'); /* Change to "hide" icon when checked */
}

input[type="checkbox"]:checked ~ .password-input-wrapper {
    -webkit-text-security: none; /* For Safari */
    text-security: none; /* For other browsers */
    -moz-text-security: none; /* For older Firefox versions */
}

.dex-btn-icon--google {
  background-color: #FFFFFF;
  background-image: url(../static/img/google-icon.svg);
}

.dex-btn-icon--local {
  background-color: #84B6EF;
  background-image: url(../static/img/email-icon.svg);
}

.dex-btn-icon--gitea {
  background-color: #F5F5F5;
  background-image: url(../static/img/gitea-icon.svg);
}

.dex-btn-icon--github {
  background-color: #FFFFFF;
  background-image: url(../static/img/github-icon.svg);
}

.dex-btn-icon--gitlab {
  background-color: #F5F5F5;
  background-image: url(../static/img/gitlab-icon.svg);
  background-size: contain;
}

.dex-btn-icon--keystone {
  background-color: #F5F5F5;
  background-image: url(../static/img/keystone-icon.svg);
  background-size: contain;
}

.dex-btn-icon--oidc {
  background-color: #EBEBEE;
  background-image: url(../static/img/oidc-icon.svg);
  background-size: contain;
}

.dex-btn-icon--bitbucket-cloud {
  background-color: #205081;
  background-image: url(../static/img/bitbucket-icon.svg);
}

.dex-btn-icon--atlassian-crowd {
  background-color: #CFDCEA;
  background-image: url(../static/img/atlassian-crowd-icon.svg);
}

.dex-btn-icon--ldap {
  background-color: #84B6EF;
  background-image: url(../static/img/ldap-icon.svg);
}

.dex-btn-icon--saml {
  background-color: #84B6EF;
  background-image: url(../static/img/saml-icon.svg);
}

.dex-btn-icon--linkedin {
  background-image: url(../static/img/linkedin-icon.svg);
  background-size: contain;
}

.dex-btn-icon--microsoft {
  background-image: url(../static/img/microsoft-icon.svg);
}

.dex-btn-text {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 36px;
  padding: 0px 10px;
  text-align: center;
  color: #1A1A1A;
}

.dex-subtle-text {
  font-size: 15px;
  color: #1A1A1A;
}

.dex-separator {
  color: #999;
}

.dex-list {
  display: inline-block;
  font-size: 13px;
  list-style: circle;
  text-align: left;
  color: #1A1A1A;
}

.dex-error-box {
  background-color: #DD1327;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  max-width: 320px;
  padding: 4px 0;
}

.dex-error-box {
  margin: 20px auto;
}
