if ! has nix_direnv_version || ! nix_direnv_version 1.5.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.5.0/direnvrc" "sha256-carKk9aUFHMuHt+IWh74hFj58nY4K3uywpZbwXX0BTI="
fi
use flake

dotenv_if_exists
