language: go

sudo: required

matrix:
  include:
    - go: '1.10.x'
      os: linux # x86_64 queue name
    - go: '1.11.x'
      os: linux # x86_64 queue name
    - go: '1.11.x'
      os: linux # x86_64 queue name
      env: GO111MODULE=on
    - go: '1.10.x'
      os: linux-ppc64le # power queue name
    - go: '1.11.x'
      os: linux-ppc64le # power queue name
    - go: '1.11.x'
      os: linux-ppc64le # power queue name
      env: GO111MODULE=on

env:
  global: DEX_POSTGRES_DATABASE=postgres DEX_POSTGRES_USER=postgres DEX_POSTGRES_HOST="localhost" DEX_ETCD_ENDPOINTS=http://localhost:2379 DEX_LDAP_TESTS=1 DEBIAN_FRONTEND=noninteractive DEX_KEYSTONE_URL=http://localhost:5000 DEX_KEYSTONE_ADMIN_URL=http://localhost:35357 DEX_KEYSTONE_ADMIN_USER=demo DEX_KEYSTONE_ADMIN_PASS=DEMO_PASS

go_import_path: github.com/dexidp/dex

services:
  - postgresql
  - docker

install:
  - sudo -E apt-get install -y --force-yes slapd time ldap-utils
  - sudo /etc/init.d/slapd stop
  - if [ ${HOSTTYPE} = "powerpc64le" ]; then
        docker run -d --net=host gcr.io/etcd-development/etcd:v3.2.9-ppc64le;
    else
        docker run -d --net=host gcr.io/etcd-development/etcd:v3.2.9;
    fi
  - if [ ${HOSTTYPE} = "x86_64" ]; then docker run -d -p 0.0.0.0:5000:5000 -p 0.0.0.0:35357:35357 openio/openstack-keystone:pike; fi
  - |
    if [ ${HOSTTYPE} = "x86_64" ]; then
        until curl --fail http://localhost:5000/v3; do
          echo 'Waiting for keystone...';
          sleep 1;
        done;
    fi
script:
  - if [ ${HOSTTYPE} = "x86_64" ]; then make testall;fi
  - ./scripts/test-k8s.sh
  - if [ ${HOSTTYPE} = "x86_64" ]; then make verify-proto;fi # Ensure proto generation doesn't depend on external packages.

notifications:
  email: false
