version: "3.8"

services:
    mysql:
        ports:
            - "127.0.0.1:3306:3306"

    postgres:
        ports:
            - "127.0.0.1:5432:5432"

    etcd:
        ports:
            - "127.0.0.1:2379:2379"

    ldap:
        ports:
            - "127.0.0.1:389:389"
            - "127.0.0.1:636:636"
