[Unit]
Description=dex
[Service]
User=dex
WorkingDirectory=/usr/share/dex
Environment="DEXCONFIG=/etc/dex/config.yaml"
ExecStart=/usr/bin/dex serve "$DEXCONFIG"
