@font-face {
    font-family: 'Euclid';
    src: url('../../static/EuclidCircularA-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.theme-body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Euclid', 'Source Sans Pro', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Logo */
.dimo-logo {
    width: 200px;
    margin-bottom: 20px;
}

.theme-heading {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
    color: #ffffff;
    text-align: center;
}

.theme-panel {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-btn-provider {
    background-color: #2c2c2c;
    color: #ffffff;
    border: none;
    width: 300px;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Euclid', 'Source Sans Pro', Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
}

.theme-btn-provider:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}

.dex-btn-icon {
    margin-right: 10px;
}

.theme-form-row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
