<style>
.action-button { border-radius: 5px; font-weight: 700; padding: 11px 70px; cursor: pointer; }
.grant-button { background-color: #324f9b; color: #ffffff; width: 100%; border-style: solid; border-width: 0px; font: 700 20px / 1 Inter, sans-serif; }
.cancel-button { background: transparent; color: #1A1A1A; border: 1px solid #e8e8e8; width: 100%; font: 700 20px / 1 Inter, sans-serif; }
.clickable-logo:hover{ transform: scale(1.03); transition: all 0.3s ease; transform-origin: center; cursor: pointer; }
</style>

{{ template "header.html" . }}

<span onclick="window.location.href='https://asama.ai'" alt="Asama Logo" class="dex-org-logo dex-asama-logo clickable-logo"></span>
<div class="theme-panel" style="padding-top: 125px; padding-bottom: 100px; width: 500px; min-width: 450px; height: 500px;" >
  <h2 class="theme-heading" style="margin-bottom: 8px; line-height: 0; color: #1A1A1A;" >Grant Access</h2>
  <div style="display: flex; align-items: center; justify-content: center; pointer-events: none; width: 100%; height: 41px; flex: 0 0 auto;">
    <div role="separator" style="width: 100%; height: 1px; visibility: visible; border-bottom: 1px solid rgba(227, 226, 224, 0.5);"></div>
  </div>
  <div style="align-self: start; color: #1A1A1A">
    {{ if .Scopes }}
    <div class="dex-subtle-text" style="font-family: Inter, sans-serif; line-height: 1;" > Asama.ai would like to:</div>
    <ul class="dex-list" style="margin-bottom: 0px; font-family: Inter, sans-serif;" >
      {{ range $scope := .Scopes }}
      <li>{{ $scope }}</li>
      {{ end }}
    </ul>
    {{ else }}
    <div class="dex-subtle-text">Asama.ai has not requested any personal information</div>
    {{ end }}
  </div>
  <div style="display: flex; align-items: center; justify-content: center; pointer-events: none; width: 100%; height: 41px; flex: 0 0 auto;">
    <div role="separator" style="width: 100%; height: 1px; visibility: visible; border-bottom: 1px solid rgba(227, 226, 224, 0.5);"></div>
  </div>
  <div style="width: 100%;">
    <div class="theme-form-row" style="margin-top: 0px;" >
      <form method="post" >
        <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
        <input type="hidden" name="approval" value="approve">
        <button type="submit" class="action-button grant-button">
          Grant Access
        </button>
      </form>
    </div>
    <div class="theme-form-row" style="margin-bottom: 0px;">
      <a href="https://egp.asama.cloud" >
        <button type="button" class="action-button cancel-button">
          Cancel
        </button>
      </a>
    </div>
  </div>

</div>

{{ template "footer.html" . }}
