{{ template "header.html" . }}

<div class="panel">
  <h2 class="heading">Log in to {{ .Issuer }} </h2>

  <div>
    {{ range $c := .Connectors }}
      <div class="form-row">
        <a href="{{ $c.URL }}?req={{ $.AuthReqID }}" target="_self">
          <button class="btn btn-provider">
            <span class="btn-icon btn-icon-{{ $c.ID }}"></span>
            <span class="btn-text">Log in with {{ $c.Name }}</span>
          </button>
        </a>
      </div>
    {{ end }}
  </div>

</div>


{{ template "footer.html" . }}
