{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading">Logged Out</h2>

  <div>
    {{ if .LoggedOut }}
    <div class="dex-subtle-text">You have been successfully logged out.</div>
    {{ else }}
    <div class="dex-subtle-text">No active session found.</div>
    {{ end }}
  </div>

  {{ if .BackURL }}
  <div class="theme-form-row">
    <a href="{{ .BackURL }}" class="dex-subtle-text">&larr; Back to Application</a>
  </div>
  {{ end }}

</div>

{{ template "footer.html" . }}
