{{ template "header.html" . }}

<div class="panel">
  <h2 class="heading">Log in to Your Account</h2>
  <form method="post" action="{{ .PostURL }}">
    <div class="form-row">
      <div class="input-desc">
        <label for="userid">Username</label>
      </div>
	  <input tabindex="1" required id="login" name="login" type="text" class="input-box" placeholder="username" {{ if .Username }}value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
    </div>
    <div class="form-row">
      <div class="input-desc">
        <label for="password">Password</label>
      </div>
	  <input tabindex="2" required id="password" name="password" type="password" class="input-box" placeholder="password" {{ if .Invalid }} autofocus {{ end }}/>
    </div>
    <input type="hidden" name="req" value="{{ .AuthReqID }}"/>

    {{ if .Invalid }}
      <div class="error-box">
        Invalid username and password.
      </div>
    {{ end }}

    <button tabindex="3" type="submit" class="btn btn-primary">Login</button>

  </form>
</div>

{{ template "footer.html" . }}
