{{ template "header.html" . }}

<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="https://unpkg.com/web3modal@1.9.4/dist/index.js"></script>

<script>
const Web3 = window.Web3;
const Web3Modal = window.Web3Modal.default;

async function postJson(url, obj) {
  return fetch(url, {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify(obj),
  })
}

async function init() {
  const web3Modal = new Web3Modal({providerOptions: {}});
  const provider = await web3Modal.connect();
  const web3 = new Web3(ethProvider);

  const accounts = await web3.eth.getAccounts();
  if (!accounts.length) {
    return;
  }
  const selectedAccount = accounts[0];
  const nonceResp = await postJson("{{ .NonceURL }}", {address: selectedAccount, state: "{{ .AuthID }}"});
  const nonceBody = await nonceResp.json();
  web3.eth.personal.sign(nonceBody.nonce, selectedAccount, "", async (error, signature) => {
    // Handle if wallet returns error
    if (error) {
      return;
    }
    const verifyResp = await postJson("{{ .VerifyURL }}", {signed: signature, state: "{{ .AuthID }}"});
    const verifyBody = await verifyResp.json();
    window.location = verifyBody.redirect;
  });
}

window.addEventListener('load', init);
</script>

<div class="theme-panel">
  <h2 class="theme-heading">Log in to {{ issuer }} </h2>
  <div>
    <div class="dex-subtle-text">Attempting to log in with your browser wallet</div>
    <div id="web3-error" class="dex-error-box"></div>
  </div>
</div>

{{ template "footer.html" . }}
