<html>
  <body>

    <form action="/login">
      <table>
        <tr>
          <td> Authenticate for:
            <br>
            (comma-separated list of client-ids)
          </td>
          <td> <input type="text" name="cross_client" > </td>
        </tr>
      </table>
{{ if .OOB }}
        <input type="submit" value="Login" formtarget="_blank">
{{ else }}
        <input type="submit" value="Login" >
{{ end }}
    </form>

{{ if .OOB }}
    <form action="/callback" method="get" >
      Code
      <input type="text" name="code" value="">
      <br>
      <input type="submit" value="Exchange Code" >
    </form>
{{ end }}
    
{{ if not .OOB }}
    <form action="/register">
      <input type="submit" value="Register"  />
    </form>
{{ end }}
  </body>
</html>
