{{ template "header.html" . }}

<div class="theme-panel">
  <div class="theme-form-container">
    <h2 class="theme-heading">Grant Access</h2>

    <!-- <hr class="dex-separator"> -->
    <div class="theme-access-list">
      {{ if .Scopes }}
      <div class="dex-subtle-text">{{ .Client }} would like to:</div>
      <ul class="dex-list">
        {{ range $scope := .Scopes }}
        <li>{{ $scope }}</li>
        {{ end }}
      </ul>
      {{ else }}
      <div class="dex-subtle-text">{{ .Client }} has not requested any personal information</div>
      {{ end }}
    </div>
    <!-- <hr class="dex-separator"> -->

    <div class="theme-form-container">
      <div class="theme-form-row">
        <form method="post">
          <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
          <input type="hidden" name="approval" value="approve">
          <button type="submit" class="dex-btn">
             Grant Access
          </button>
        </form>
      </div>
      <div class="theme-form-row">
        <form method="post">
          <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
          <input type="hidden" name="approval" value="rejected">
          <button type="submit" class="dex-btn-cancel">
             Cancel
          </button>
        </form>
      </div>
    </div>

  </div> 
</div>

{{ template "footer.html" . }}
