{{ template "header.html" }}

<div class="middle-box">
  <header>
    <div class="logo">
      {{ template "logo.svg.html" }}
    </div>
    <h2>Sign in with your Castle Account</h2>
  </header>

  {{ if .Error }}
  <div class="alert alert-danger">{{ .Message }}</div>
  {{ end }}

  <form method="post" action="{{ .PostURL }}">
    <div class="form-group{{ if .Error }} has-error{{ end }}">
      <input name="userid" type="email" class="form-control" placeholder="Email" required autofocus/>
    </div>
    <div class="form-group{{ if .Error }} has-error{{ end }}">
      <input name="password" type="password" class="form-control" placeholder="Password" required/>
      <span class="help-block"><a href="{{ "/send-reset-password" | absPath }}?session_key={{ .SessionKey }}">Forgot your password?</a></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    <p>Don't have an account? <a href="{{ "/register" | absPath }}?code={{ .SessionKey }}">Sign up</a></p>
  </form>
</div>

{{ template "footer.html" }}
