{{ template "header.html" }}

<div class="middle-box">
  <header>
    <div class="logo">
      {{ template "logo.svg.html" }}
    </div>
    <h2>Create Your Account</h2>
  </header>

  {{ if .Error }}
  <div class="alert alert-danger">{{ .Message }}</div>
  {{ end }}

  {{ if .RemoteExists }}
  <div class="alert alert danger">This account is already registered.</div>
  {{ else }}
  <form id="registerForm" method="POST" action="{{ "/register" | absPath }}">
    <div class="form-group{{ range $fe := .FormErrors }}{{ if eq $fe.Field "email" }} has-error{{ end }}{{ end }}">
      <input id="email" class="form-control" type="email" name="email" required placeholder="Email" value="{{.Email}}" autofocus/>
      {{ range $fe := .FormErrors }}
        {{ if eq $fe.Field "email" }}
        <div class="help-block">{{ $fe.Error }}</div>
        {{ end }}
      {{ end }}
    </div>

    {{ if .Local }}
    <div class="form-group{{ range $fe := .FormErrors }}{{ if eq $fe.Field "password" }} has-error{{ end }}{{ end }}">
      <input minlength="6" required id="password" name="password" type="password" class="form-control" placeholder="Password" value="{{.Password}}"/>
      {{ range $fe := .FormErrors }}
        {{ if eq $fe.Field "password" }}
        <div class="help-block">{{ $fe.Error }}</div>
        {{ end }}
      {{ end }}
    </div>
    {{ end }}

    <button type="submit" class="btn btn-primary btn-block">Create Account</button>
    <p>Already have an account? <a href="{{ .LoginURL }}">Sign in</a></p>
    <input type="hidden" name="code" value="{{.Code}}"/>
    <input type="hidden" name="validate" value="1"/>
  </form>
  {{ end }}
</div>

{{ template "footer.html" }}
