{{ template "header.html" }}

<div class="middle-box">
  {{ if .Success }}   
    <header>
        <div class="logo">
        {{ template "check.svg.html" }}
        </div>
        <h2>Password reset</h2>
    </header>

    <p>You have successfully reset the password to your Castle account. You can now log in with your new credentials.</p>

    <a class="btn btn-primary btn-block" href="{{.LoginURL}}">Continue to log in</a>
  
  {{ else }}  
    <header>
        <div class="logo">
        {{ template "lock.svg.html" }}
        </div>
        <h2>Reset your password</h2>
    </header>

    {{ if .DontShowForm }}
      {{ if .Error }}
      <div id="error-box" class="alert alert-danger">{{ .Message }}</div>
      {{ end }}
    {{ else }}
    <p class="{{ if eq .Error "Invalid Password" }}has-error{{ end }}">Password must be at least 6 characters in length with at least one uppercase letter and one symbol.</p>

    <div id="js-error" class="alert alert-danger" style="display: none;" class="error-box">Oops, looks like the passwords you entered don’t match!</div>
    
    {{ if and .Error (ne .Error "Invalid Password")}}
    <div id="error-box" class="alert alert-danger">{{ .Message }}</div>
    {{ end }}

    <form id="resetPasswordForm" method="POST" action="{{ "/reset-password" | absPath }}" onsubmit="return validate();">    
        <div class="form-group{{ if eq .Error "Invalid Password" }} has-error{{ end }}">
        <input id="password" name="password" type="password" class="form-control" value="" placeholder="Password" minlength="6" required/>
        </div>
        <div class="form-group{{ if eq .Error "Invalid Password" }} has-error{{ end }}">
        <input id="password-confirm" name="password-confirm" type="password" class="form-control" placeholder="Confirm Password" required/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
        <input type="hidden" name="token" value="{{ .Token }}" />
    </form>
    <a href="{{.LoginURL}}">Return to login screen</a>
    {{ end }}
  {{ end }}
</div>

<script>
  function validate() {
    var p1 = document.getElementById('password'),
        p2 = document.getElementById('password-confirm'),
        valid = p1 && p2 && p1.value === p2.value;

    if (valid) {   
      hideError();
      p1.className = 'form-control';
      p2.className = 'form-control';
    } else {
      showError();
      if (p1 && p2) {
        p1.className += ' has-error';
        p2.className += ' has-error';
      }
    }
    return valid;
  }

  function hideError() {
    var e = document.getElementById('js-error');
    if (e) {
      e.style.display = 'none';
    }
  }

  function showError() {
    var e = document.getElementById('js-error');
    var errorBox = document.getElementById('error-box');

    if (e) {
      e.style.display = 'block';
    }

    if (errorBox) {
        errorBox.style.display = 'none';
    }
  }

</script>

{{ template "footer.html" }}
