<html>
  <body>
    {{ if .Success }}
      Yay, you changed your password!
    {{ else }}
      {{ $lenError := len .Error }}
      {{ $hasError := ne $lenError 0 }}
      {{ if $hasError }}
        <h3>
          {{ .Error }}
        </h3>
        <div>
          {{ .Message }}
        </div>
      {{ end }}

      {{ if not .DontShowForm }}
        <form id="resetPasswordForm" method="POST" action="/reset-password">
          <label for="password">Password</label>
          <input type="password" name="password" value="" />
          <br/>
          <button>Submit</button>
          <input type="hidden" name="token" value="{{ .Token }}" />
        </form>
        {{ end }}
      {{ end }}
  <body>
</html>
