{{ template "header.html" }}

<div class="middle-box">
  {{ if .EmailSent }}   
  <header>
    <div class="logo">
      {{ template "reset-password.svg.html" }}
    </div>
    <h2>Reset password</h2>
  </header>

  <p>An email has been sent to {{.Email}}. Please check for an email from Castle and click the provided link to reset your password.</p>

  <a class="btn btn-primary btn-block" href="{{ "/auth/local/login" | absPath }}?session_key={{ .SessionKey }}">Continue to log in</a>
  
  {{ else }}
  <header>
    <div class="logo">
      {{ template "forgot-password.svg.html" }}
    </div>
    <h2>Forgot password</h2>
  </header>

  <p>Please enter your email address and we will send you an email about how to reset your password.</p>

  <form id="sendResetPasswordForm" method="POST" action="{{ "/send-reset-password" | absPath }}" novalidate>
    <div class="form-group{{if .Error }} has-error{{ end }}">
      <input class="form-control" type="email" name="email" required placeholder="Email" value="{{.Email}}" autofocus/>
      <div class="help-block">{{ if .Error }}{{.Message}}{{ end }}</div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Reset password</button>
    <input type="hidden" name="redirect_uri" value="{{.RedirectURL}}" />
    <input type="hidden" name="client_id" value="{{.ClientID}}" />
  </form>

  <a href="{{ "/auth/local/login" | absPath }}?session_key={{ .SessionKey }}">Return to login screen</a>
  {{ end }}

</div>

{{ template "footer.html" }}
