<html>

  <body>
    {{ if .EmailSent }}

    <h1>Thank you, please check your email!</h1>
    {{ .Email }} has been sent an email with instructions to reset your password.

    {{ else }}

    {{ if .Error }}
      <div>
        {{ .Message }}
      </div>
    {{ end }}

    <h2>Reset Your Password </h2>
    <P>We will send you an email with a link to reset your password.</p>
    <form id="sendResetPasswordForm" method="POST" action="/send-reset-password">
      <label for="email">Email</label>
      <input type="text" name="email" value="" />
      <br/>
      <button>Submit</button>
      <input type="hidden" name="redirect_uri" value="{{ .RedirectURL }}" />
      <input type="hidden" name="client_id" value="{{ .ClientID }}" />
    </form>
  {{ end }}
 
  </body>
</html>
