{{ template "header.html" }}

{{ if .Error }}
<div class="middle-box">
  <header>
    <div class="logo">
      {{ template "expired.svg.html" }}
    </div>
    <h2>Link expired</h2>
  </header>
<p>The time sensitive link that was sent to your email address has expired. Please try creating your account again and we will send you a new link.</p>
<a class="btn btn-primary btn-block">Resend me a new link</a>
<a>Return to log in screen</a>
</div>

{{ else }}
<div class="middle-box">
  <header>
    <div class="logo">
      {{ template "account-created.svg.html" }}
    </div>
    <h2>Your account is ready</h2>
  </header>
<p>(user name), we’ve successfully confirmed your account and you are all ready to go start building your new data kingdom with Castle.</p>
<a class="btn btn-primary btn-block">Log in to my account</a>
</div>
{{ end }}

{{ template "footer.html" }}
